---
import { getCollection, type CollectionEntry } from 'astro:content';

const alldata = await getCollection('blog');

const blogs = alldata.map((blog: CollectionEntry<'blog'>) => ({
  image: blog.data.image,
  title: blog.data.title,
  slug: blog.slug,
  body: blog.body,
  date: blog.data.date,
}));
---

<div
  class='grid grid-cols-[repeat(auto-fill,minmax(min(100%,300px),1fr))] gap-x-10 gap-y-16 p-4'
>
  {
    blogs.map((blog) => (
      <a
        href={`/blog/${blog.slug}`}
        class='overflow-hidden rounded-lg shadow transition hover:shadow-lg'
      >
        <img
          transition:name={`slug-${blog.slug}`}
          alt={blog.title}
          src={blog.image}
          class='h-56 w-full object-cover'
        />

        <div class='bg-white p-4 sm:p-6'>
          <time datetime='2022-10-10' class='block text-xs text-gray-500'>
            {new Date(blog.date).toLocaleDateString('es-ES', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })}
          </time>
          <h3
            class='mt-0.5 text-lg text-gray-900'
            transition:name={`title-${blog.slug}`}
          >
            {blog.title}
          </h3>

          <p class='mt-2 line-clamp-3 text-sm/relaxed text-gray-500'>
            {blog.body}
          </p>
        </div>
      </a>
    ))
  }
</div>
